In [1]:
import pandas

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
df_person = pandas.read_csv('./name.basics.csv')

In [3]:
df_person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106616 entries, 0 to 1106615
Data columns (total 6 columns):
nconst               1106616 non-null object
primaryName          1106616 non-null object
birthYear            1106616 non-null object
deathYear            1106616 non-null object
primaryProfession    996906 non-null object
knownForTitles       1106616 non-null object
dtypes: object(6)
memory usage: 50.7+ MB

In [4]:
df_person

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0031983,tt0050419,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0071877,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0057345,tt0054452,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0072562,tt0078723,tt0080455,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0083922,tt0060827,tt0050986"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0077711,tt0034583,tt0038109,tt0036855"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0033870,tt0034583,tt0042593,tt0043265"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0078788,tt0070849,tt0047296,tt0068646"
8,nm0000009,Richard Burton,1925,1984,"actor,soundtrack,producer","tt0057877,tt0087803,tt0061184,tt0059749"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0031867,tt0029870,tt0035575,tt0042041"
10,nm0000011,Gary Cooper,1901,1961,"actor,soundtrack,producer","tt0035896,tt0027996,tt0034167,tt0044706"
11,nm0000012,Bette Davis,1908,1989,"actress,soundtrack,make_up_department","tt0031210,tt0056687,tt0042192,tt0035140"
12,nm0000013,Doris Day,1922,2019,"soundtrack,actress,producer","tt0049470,tt0053172,tt0048317,tt0045591"
13,nm0000014,Olivia de Havilland,1916,2020,"actress,soundtrack","tt0040806,tt0031381,tt0041452,tt0029843"
14,nm0000015,James Dean,1931,1955,"actor,miscellaneous","tt0049261,tt0120956,tt0048028,tt0048545"
15,nm0000016,Georges Delerue,1925,1992,"composer,soundtrack,music_department","tt0091763,tt0069946,tt0057345,tt0096320"
16,nm0000017,Marlene Dietrich,1901,1992,"soundtrack,actress,music_department","tt0051201,tt0052311,tt0055031,tt0021156"
17,nm0000018,Kirk Douglas,1916,2020,"actor,producer,soundtrack","tt0043338,tt0043465,tt0049456,tt0054331"
18,nm0000019,Federico Fellini,1920,1993,"writer,director,assistant_director","tt0050783,tt0047528,tt0071129,tt0056801"
19,nm0000020,Henry Fonda,1905,1982,"actor,producer,soundtrack","tt0082846,tt0051207,tt0032551,tt0050083"
20,nm0000021,Joan Fontaine,1917,2013,"actress,soundtrack,producer","tt0032976,tt0034248,tt0035751,tt0040536"
21,nm0000022,Clark Gable,1901,1960,"actor,soundtrack,producer","tt0023382,tt0031381,tt0026752,tt0025316"
22,nm0000023,Judy Garland,1922,1969,"soundtrack,actress","tt0047522,tt0037059,tt0032138,tt0055031"
23,nm0000024,John Gielgud,1904,2000,"actor,writer,director","tt0071877,tt0082031,tt0117631,tt0045943"
24,nm0000025,Jerry Goldsmith,1929,2004,"music_department,soundtrack,composer","tt0077269,tt0119488,tt0117731,tt0100802"
25,nm0000026,Cary Grant,1904,1986,"actor,soundtrack,producer","tt0034248,tt0056923,tt0048728,tt0053125"
26,nm0000027,Alec Guinness,1914,2000,"actor,soundtrack,writer","tt0076759,tt0051739,tt0050212,tt0041546"
27,nm0000028,Rita Hayworth,1918,1987,"actress,soundtrack,producer","tt0036723,tt0038559,tt0040525,tt0046076"
28,nm0000029,Margaux Hemingway,1954,1996,"actress,miscellaneous","tt0074802,tt0102122,tt0077800,tt0110138"
29,nm0000030,Audrey Hepburn,1929,1993,"actress,soundtrack","tt0058385,tt0056923,tt0054698,tt0046250"
...,...,...,...,...,...,...
1106586,nm9992937,Keith Daniel,\N,\N,"actor,cinematographer,sound_department","tt9213602,tt8742608"
1106587,nm9992938,Peter Nylund,\N,\N,cinematographer,tt8742608
1106588,nm9992943,Sergio Gonzalez Cuervo,\N,\N,"sound_department,composer","tt14972182,tt13052436,tt16024868,tt8742616"
1106589,nm9992944,Franco Ragazzi,\N,\N,camera_department,\N
1106590,nm9992981,Connor C.,\N,\N,NaN,\N
1106591,nm9992982,Alex Michaels,\N,\N,NaN,tt8742636
1106592,nm9992983,Damien Nichols,\N,\N,actor,tt8742636
1106593,nm9992999,William Plyler,\N,\N,"producer,actor,writer","tt8483220,tt3239442,tt9413640"
1106594,nm9993027,Niko Kountouriotis,\N,\N,NaN,\N
1106595,nm9993028,Kassie Kountouriotis,\N,\N,NaN,tt6304194
1106596,nm9993069,Auzzi Col,\N,\N,"miscellaneous,special_effects,actress","tt9073860,tt7664772,tt6626402,tt10616792"
1106597,nm9993077,Colin Darcy,\N,\N,NaN,tt8742828
1106598,nm9993103,Brianna Temple,\N,\N,"actress,writer,camera_department","tt7846794,tt9486184,tt9212760,tt9001550"
1106599,nm9993133,Catherine Matteson,\N,\N,NaN,\N
1106600,nm9993134,Ruth Ottman Riddle,\N,\N,NaN,\N
1106601,nm9993135,Annetta Richards,\N,\N,NaN,\N
1106602,nm9993136,Wally Kinnet,\N,\N,NaN,\N
1106603,nm9993187,Servane Zanotti,\N,\N,NaN,tt8116574
1106604,nm9993197,Juanjo Braulio,\N,\N,writer,tt8743032
1106605,nm9993311,Sadegh Khoshhal,\N,\N,writer,"tt8743110,tt8743086,tt13344348,tt15249094"
1106606,nm9993398,Oliviero Del Papa,\N,\N,writer,"tt14165314,tt10270592,tt10941386,tt15662942"
1106607,nm9993434,Richard Blackmarr,1929,2013,NaN,tt0189339
1106608,nm9993444,Jason Winter,\N,\N,actor,"tt8743272,tt10540122"
1106609,nm9993453,Cameron Lyons,\N,\N,production_designer,tt6357510
1106610,nm9993487,Rinaldo Rinaldini,\N,\N,editor,tt2478478
1106611,nm9993494,Amjad Ali,\N,\N,writer,tt7722258
1106612,nm9993533,Lara Christie,\N,\N,actress,"tt0074965,tt0123527"
1106613,nm9993594,Adeoluwa Owu,\N,\N,"cinematographer,director,camera_department","tt16253232,tt16423720,tt15892144,tt13204624"
1106614,nm9993616,Ryan Mac Lennan,\N,\N,actor,tt4844148
1106615,nm9993693,Apsara Rani,\N,\N,actress,"tt13847502,tt12856788,tt8302382,tt8737752"

In [5]:
df_movies = pandas.read_csv('./title.basics.csv')

In [6]:
df_movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,short,Miss Jerry,Miss Jerry,0,1894,\N,40,"Romance,Short"
1,tt0000446,short,Kit Carson,Kit Carson,0,1903,\N,21,"Short,Western"
2,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
3,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
4,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"

In [7]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489949 entries, 0 to 489948
Data columns (total 9 columns):
tconst            489949 non-null object
titleType         489949 non-null object
primaryTitle      489949 non-null object
originalTitle     489949 non-null object
isAdult           489949 non-null int64
startYear         489949 non-null int64
endYear           489949 non-null object
runtimeMinutes    489949 non-null int64
genres            489949 non-null object
dtypes: int64(3), object(6)
memory usage: 33.6+ MB

In [8]:
df_movies_60P = df_movies [(df_movies.runtimeMinutes >= 60)]

In [9]:
df_movies_60P_movie = df_movies_60P [(df_movies_60P.titleType == 'movie')]

In [10]:
df_movies_60P_movie.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
3,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
4,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
16,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0,1913,\N,60,Drama
27,tt0002101,movie,Cleopatra,Cleopatra,0,1912,\N,100,"Drama,History"

In [11]:
df_movies_60P_movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166126 entries, 2 to 489947
Data columns (total 9 columns):
tconst            166126 non-null object
titleType         166126 non-null object
primaryTitle      166126 non-null object
originalTitle     166126 non-null object
isAdult           166126 non-null int64
startYear         166126 non-null int64
endYear           166126 non-null object
runtimeMinutes    166126 non-null int64
genres            166126 non-null object
dtypes: int64(3), object(6)
memory usage: 12.7+ MB

In [12]:
df_movies_60P_movie_start1990 = df_movies_60P_movie [(df_movies_60P_movie.startYear >= 1990)]

In [13]:
df_movies_60P_movie_start1990.head();

df_movies_60P_movie_start1990.info();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114337 entries, 15307 to 489947
Data columns (total 9 columns):
tconst            114337 non-null object
titleType         114337 non-null object
primaryTitle      114337 non-null object
originalTitle     114337 non-null object
isAdult           114337 non-null int64
startYear         114337 non-null int64
endYear           114337 non-null object
runtimeMinutes    114337 non-null int64
genres            114337 non-null object
dtypes: int64(3), object(6)
memory usage: 8.7+ MB

In [14]:
df_movies_60P_movie_start1990 = df_movies_60P_movie_start1990[['tconst', 'primaryTitle', 'isAdult', 'startYear', 'runtimeMinutes', 'genres']]

In [15]:
df_movies_60P_movie_start1990.head();

df_movies_60P_movie_start1990.info();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114337 entries, 15307 to 489947
Data columns (total 6 columns):
tconst            114337 non-null object
primaryTitle      114337 non-null object
isAdult           114337 non-null int64
startYear         114337 non-null int64
runtimeMinutes    114337 non-null int64
genres            114337 non-null object
dtypes: int64(3), object(3)
memory usage: 6.1+ MB

In [16]:
df_movies_60P_movie_start1990 = df_movies_60P_movie_start1990 [(df_movies_60P_movie_start1990.startYear <= 2020)]

In [17]:
df_movies_60P_movie_start1990.head();

df_movies_60P_movie_start1990.info();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107631 entries, 15307 to 489947
Data columns (total 6 columns):
tconst            107631 non-null object
primaryTitle      107631 non-null object
isAdult           107631 non-null int64
startYear         107631 non-null int64
runtimeMinutes    107631 non-null int64
genres            107631 non-null object
dtypes: int64(3), object(3)
memory usage: 5.7+ MB

In [18]:
df_movies_60P_movie_start1990_edit = df_movies_60P_movie_start1990 [(df_movies_60P_movie_start1990.runtimeMinutes >= 80)]

In [19]:
df_movies_60P_movie_start1990_edit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87371 entries, 15307 to 489947
Data columns (total 6 columns):
tconst            87371 non-null object
primaryTitle      87371 non-null object
isAdult           87371 non-null int64
startYear         87371 non-null int64
runtimeMinutes    87371 non-null int64
genres            87371 non-null object
dtypes: int64(3), object(3)
memory usage: 4.7+ MB

In [20]:
df_movies_60P_movie_start1990_nodo = df_movies_60P_movie_start1990_edit [(df_movies_60P_movie_start1990_edit.genres != 'Documentary')]

In [21]:
df_movies_60P_movie_start1990_nodo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78669 entries, 15307 to 489947
Data columns (total 6 columns):
tconst            78669 non-null object
primaryTitle      78669 non-null object
isAdult           78669 non-null int64
startYear         78669 non-null int64
runtimeMinutes    78669 non-null int64
genres            78669 non-null object
dtypes: int64(3), object(3)
memory usage: 4.2+ MB

In [22]:
df_movies_60P_movie_start1990_nodo = df_movies_60P_movie_start1990_nodo [(df_movies_60P_movie_start1990_nodo.genres != 'History')]

In [23]:
df_movies_60P_movie_start1990_nodo.head(20)

,tconst,primaryTitle,isAdult,startYear,runtimeMinutes,genres
15307,tt0035423,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
27968,tt0059325,Born in '45,0,1990,100,"Drama,Romance"
32754,tt0068494,Domo Arigato,0,1990,91,Drama
33050,tt0069049,The Other Side of the Wind,0,2018,122,Drama
39496,tt0081145,Me and the Kid,0,1993,94,"Comedy,Crime,Drama"
39771,tt0081721,Vincent and Me,0,1990,100,"Drama,Family,Fantasy"
40943,tt0084015,Goodbye Paradise,0,1991,101,Drama
43295,tt0088751,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi"
44265,tt0090665,Halfaouine: Boy of the Terraces,0,1990,98,"Comedy,Drama"
44326,tt0090785,Call Me Mr. Brown,0,1990,94,Crime
44882,tt0091899,The Scarlet Scorpion,0,1990,90,Comedy
45237,tt0092589,Astonished,0,1990,93,Mystery
45270,tt0092648,Beyond the Rising Moon,0,1994,84,"Adventure,Sci-Fi,Thriller"
45433,tt0092926,Dragon Hunt,0,1990,90,Action
45506,tt0093061,Funkytown,0,1998,82,"Documentary,Music"
45646,tt0093309,The Ultimate Vampire,0,1991,88,"Comedy,Horror"
45989,tt0093989,Slaughter in Xian,0,1990,115,"Action,Crime,Drama"
46040,tt0094073,The Sun and the Moon,0,1990,97,Drama
46186,tt0094376,Middle Man,0,1990,94,Action
46430,tt0094857,Fatal Termination,0,1990,89,"Drama,Thriller"

In [24]:
df_movies_60P_movie_start1990_nodo.to_csv('movies.csv', index=False)

In [29]:
# df_movies_60P_movie_start2010 = df_movies_60P_movie_start1990_nodo [(df_movies_60P_movie_start1990_nodo.startYear >= 2010)]

In [32]:
# df_movies_60P_movie_start2010.to_csv('movies.csv', index=False)